*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #add8e6;
    max-width: 2000;
    padding-top: 10px;
}

nav{
    background-color: #daa520;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}


.contenitoreheader{
    background-color: #00008b;
    width: 100%;
    padding: 40px;
}

.lilacback{
    background-color: #ee82ee;
    margin: auto;
    max-width: 50%;
    min-height: 200px;
    
}

.whiteback{
    background-color:#ffffff ;
    display: flex;
    margin: auto;
    padding: 40px;
}

.greyback{
    background-color: #d3d3d3;
    display: flex;
    margin: auto;
    padding: 40px;
}

.contenitOre{
    max-width: 500px;
    margin: auto;
    padding: 20px;
    display: inline-block;
}

.pinkblock{
    background-color: #ffc0cb;
    width: 40%;
    min-height: 200px;
}

.blueblock{
    background-color: #1e90ff;
    width: 60%;
    min-height: 200px;
}

.greenblock{
    background-color: #228b22;
    width: 100%;
    min-height: 200px;
}

.darkback{
    background-color: #23272a;
    width: 100%;
    padding: 40px;
    display: flex;
    padding: 20px;
}

.salmonpink{
    background-color: #f08080;
    width: 20%;
    min-height: 200px;
}

.teal{
    background-color: #20b2aa;
    width: 80%;
    min-height: 200px;
}

.turquoise{
    background-color: #7fffd4;
    width: 100%;
    min-height: 100px;
}

.babypink{
    background-color: #ffb6c1;
}
